.text_wrapper {
	margin: 30px auto;
	width: 960px;
    padding-bottom:50px;
}

/* HEADER
*/
#header{
	height: 40px;
	top: 0px;
	padding: 10px;
}

#map_canvas { width:100%; height: 65%; margin-bottom: 50px }

.omaha_geography  {z-index:20; top:50px; right:10px; width:100%;}
.omaha_geography form {width:458px; float: right; display: inline; padding-top: 4px;}
.omaha_geography input {margin: 0px 0px 0px 0px; height:25px; width:390px;}

#go{
	display: inline;
}

#header #logo{
	float: left;
}

/* COLOUMN 1
*/
#coloumn1{
	width: 540px;
	display: block;
	float: left;
	margin-right: 70px;
}

.headline{
	font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 34px;
	font-style: italic;
	cursor: auto;
}

.headline a{
	color: #000000;
	text-decoration: none;
}

.headline a:hover{
	text-decoration: underline;
}

.date{
	font-family: arial,helvetica,sans-serif;
	font-size: 1.1em;
	color: #808080;
}

.byline{
	font-family: nyt-cheltenham, Georgia, Times, "Times New Roman", serif;
	color: #261903;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 3px;
}

#article2{
	margin-top: 50px;
}

.article_body{
	color: #333;
	font-size: 14px;
	font-family: Georgia, Times, "Times New Roman", serif;
	line-height: 1.467em;
}

/* COLOUMN 2
*/

#coloumn2{
	float: right;
	width: 400px;
	display: block;
}

#column2 img{
	margin: 0px;
	width: 250px;
}

.slideshow_title{
	font-family: "nyt-cheltenham-hinted", Georgia;
	font-size: 1em;
	color: #000;
	margin-top: 5px;
	margin-bottom: 20px;
}
